* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-main);
  color: var(--text-color);
  line-height: 1.6;
  background-color: var(--bg-white);
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
  transition: 0.3s;
}
img {
  max-width: 100%;
  display: block;
}
button,
input,
textarea {
  font-family: inherit;
}
